
body{
    background: rgb(56,223,133);
  background: radial-gradient(circle, rgba(56,223,133,1) 19%, rgba(167,207,255,1) 59%);
  
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  h1{
      font-size: 300%;
      font-family: Arial, Helvetica, sans-serif;
  }
  header {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  
  nav ul {
    display: flex;
    list-style: none;
  }
  
  nav li {
    margin: 0 10px;
  }
  
  nav a {
    color: white;
    text-decoration: none;
  }
  
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  section {
    margin-bottom: 40px;
  }
  
  p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 150%;
  }
  h2 {
    font-size: 3em;
    margin-bottom: 30px;
  }
  
  ul {
    list-style: circle;
    margin-left: 20px;
    font-size: 140%;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button[type="submit"] {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #555;
  }
  